Repository motlin/hex-zero: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Add mobile platform services, performance tuning, haptics, and sharing.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  docs/PERFORMANCE_OPTIMIZATIONS.md
  index.html
  ios/App/Podfile
  package-lock.json
  package.json
  src/canvas/CanvasManager.ts
  src/haptic-feedback.ts
  src/hex-zero.css
  src/hex-zero.ts
  src/mobile-fixes.css
  src/performance/MobilePerformanceOptimizer.ts
  src/performance/OptimizedHexRenderer.ts
  src/performance/PerformanceMonitor.ts
  src/performance/idle-callback-polyfill.ts
  src/services/sharing.ts
  src/status-bar-handler.ts
Due: prettier, eslint

Adapt the web game interface and controls for mobile device layouts.
  android/app/src/main/res/values-v21/styles.xml
  capacitor.config.ts
  index.html
  src/canvas/CanvasManager.ts
  src/hex-zero.ts
  src/mobile-fixes.css
  src/mobile-ui-enhancements.css
  src/mobile-ui-enhancements.ts
  src/mobile-utils.ts
  src/status-bar-handler.ts
  src/touch-optimizer.ts
Due: eslint

Add mobile security, device adaptation, gestures, and accessibility support.
  PRIVACY_POLICY.md
  SECURITY.md
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/main/res/xml/network_security_config.xml
  android/capacitor.settings.gradle
  index.html
  ios/App/App/Info.plist
  ios/App/Podfile
  package.json
  privacy-policy.html
  scripts/test-accessibility.js
  scripts/test-device-variations.js
  scripts/test-platform-gestures.js
  src/accessibility-manager.ts
  src/accessibility.css
  src/canvas/CanvasManager.ts
  src/device-variation-optimizer.ts
  src/device-variations.css
  src/hex-zero.ts
  src/platform-gesture-handler.ts
  src/platform-gestures.css
Due: prettier, eslint

Add App Store and Google Play submission assets, documentation, and scripts.
  app-store/APP_STORE_COPY.md
  app-store/README.md
  app-store/TESTFLIGHT_SETUP.md
  app-store/screenshots/SCREENSHOT_CHECKLIST.md
  capacitor.config.ts
  docs/APP_STORE_SUBMISSION.md
  package.json
  play-store/INTERNAL_TESTING_GUIDE.md
  play-store/PLAY_STORE_CHECKLIST.md
  play-store/metadata/category.txt
  play-store/metadata/content-rating.txt
  play-store/metadata/full-description.txt
  play-store/metadata/keywords.txt
  play-store/metadata/short-description.txt
  play-store/metadata/title.txt
  scripts/create-play-store-metadata.js
  scripts/generate-android-screenshots.js
  scripts/generate-feature-graphic.js
  scripts/generate-screenshots.js
Due: prettier, eslint

Add native development documentation, build tooling, and cross-platform tests.
  .gitignore
  android/app/build.gradle
  android/gradle.properties
  android/signing-config.md
  docs/ANDROID_DEVELOPMENT_SETUP.md
  docs/CROSS_PLATFORM_TESTING.md
  docs/IOS_DEVELOPMENT_SETUP.md
  ios/signing-config.md
  package.json
  scripts/build-android.js
  scripts/build-ios.js
  scripts/generate-android-keystore.js
  scripts/setup-ios-certificates.js
  scripts/test-all-platforms.js
  testing/PLATFORM_TEST_CHECKLIST.md
  testing/device-test-report-template.md
Due: prettier, eslint

Implement Skia hex rendering, themes, previews, and the main game board.
  App.tsx
  __mocks__/react-native-skia.ts
  __mocks__/react-native.ts
  src/components/BasicHexGrid.tsx
  src/components/DraggablePiece.tsx
  src/components/GameBoard.tsx
  src/components/HexGameBoard.tsx
  src/components/HexRendererDemo.tsx
  src/components/PieceDragOverlay.tsx
  src/components/PiecePreview.tsx
  src/components/PieceSelectionPanel.tsx
  src/components/README.md
  src/components/__tests__/PiecePreview.test.tsx
  src/context/ThemeContext.tsx
  src/hooks/useTheme.ts
  src/renderer/README.md
  src/renderer/SkiaHexGridRendering.test.tsx
  src/renderer/SkiaHexRenderer.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/screens/GameDemo.tsx
  src/screens/GameScreen.tsx
  src/screens/HexGridDemo.tsx
  src/screens/PiecePreviewDemo.tsx
  src/state/HexGrid.ts
  src/ui/SkiaColorTheme.test.ts
  src/ui/SkiaColorTheme.ts
  src/utils/skia-drawing.ts
  vitest.config.ts
Due: prettier, eslint

Implement zoom, drag-and-drop, navigation, and placement feedback.
  DRAG_AND_DROP_IMPLEMENTATION.md
  __mocks__/react-native-reanimated.ts
  src/components/AnimatedHexCell.tsx
  src/components/DraggablePiece.tsx
  src/components/GameBoard.tsx
  src/components/HexBurstParticles.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceDragOverlay.tsx
  src/components/PieceSelectionPanel.tsx
  src/components/README.md
  src/components/__tests__/AnimatedHexCell.test.tsx
  src/hooks/usePiecePlacementFeedback.ts
  src/renderer/SkiaHexRenderer.tsx
  src/screens/GameScreen.tsx
  src/ui/SkiaColorTheme.ts
  src/utils/hex-hit-detection.test.ts
  vitest.config.ts
Due: prettier, eslint

Add React Native game state, shared utilities, and supporting tests.
  App.tsx
  babel.config.cjs
  metro.config.cjs
  package.json
  src/canvas-utils.ts
  src/components/GameLogicTest.tsx
  src/components/GameStateTest.tsx
  src/contexts/GameStateContext.test.tsx
  src/contexts/GameStateContext.tsx
  src/hooks/index.ts
  src/hooks/useGame.ts
  src/hooks/useGameActions.ts
  src/hooks/useGameStats.ts
  src/hooks/useHexGrid.ts
  src/hooks/usePiecePlacement.ts
  src/hooks/usePieces.ts
  src/utils/game-dimensions.test.ts
  src/utils/game-dimensions.ts
  src/utils/hex-calculations.test.ts
  src/utils/hex-calculations.ts
  src/utils/index.ts
  src/utils/skia-drawing.test.ts
  src/utils/skia-drawing.ts
Due: eslint

Add Expo, Skia, native assets, and React Native project configuration.
  .fallowrc.json
  .gitignore
  App.tsx
  app.json
  assets/.gitkeep
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
  babel.config.cjs
  metro.config.cjs
  package.json
  pnpm-lock.yaml
  src/PROJECT_STRUCTURE.md
  src/components/DependencyTest.tsx
  src/components/README.md
  src/components/SkiaTest.tsx
  src/hooks/README.md
  src/screens/README.md
  tsconfig.json
Due: prettier, eslint

Add difficulty, victory, settings, and help screens for React Native.
  App.tsx
  src/components/GameBoard.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/contexts/SettingsContext.tsx
  src/hooks/useTheme.ts
  src/renderer/SkiaHexRenderer.tsx
  src/screens/DifficultySelectionScreen.tsx
  src/screens/GameDemo.tsx
  src/screens/GameScreen.tsx
  src/screens/HelpScreen.tsx
  src/screens/SettingsScreen.tsx
Due: eslint

Improve gesture recognition, haptic feedback, and touch responsiveness.
  package.json
  src/components/DraggablePiece.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceSelectionPanel.tsx
  src/hooks/useAdvancedGestures.ts
  src/utils/optimized-hit-detection.ts
Due: eslint

Update the Vite+ managed block in CLAUDE.md to the text vp 0.3.3 install generates.
  CLAUDE.md
Due: prettier

Pin vite-plus to 0.3.3 in mise and the pnpm catalog so the global vp matches the locked vite-plus-core.
  .mise/config.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Pin vite-plus to 0.3.3 in mise and the pnpm catalog so the global vp matches the locked vite-plus-core.
  .mise/config.toml
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add changed-file Just formatting to local hooks and validation pipelines.
  .mise/config.toml
  .pre-commit-config.yaml
  justfile
Due: prettier

Restrict Vitest test discovery to the project source directory.
  vitest.config.ts
Due: eslint

Path conditions:
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: package(-lock)?\.json
  eslint: any of: \.(js|ts|jsx|tsx)$
