Repository motlin/hex-zero: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Sync with other builds.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  biome.json
  eslint.config.ts
  justfile
  package-lock.json
  package.json
  src/hex-zero.css
  tsconfig.json
Due: prettier, eslint

Sync with other builds.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json5
  README.md
  biome.json
  eslint.config.js
  eslint.config.ts
  index.html
  justfile
  package-lock.json
  package.json
  src/hex-zero.css
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier, eslint

Sync with other builds.
  .pre-commit-config.yaml
Due: prettier

Sync with other builds.
  .pre-commit-config.yaml
  .prettierignore
  biome.json
Due: prettier

Improve .github/dependabot.yml.
  .github/dependabot.yml
Due: prettier

Sync build with other projects.
  .github/workflows/merge-group.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json5
  README.md
  biome.json
  biome.jsonc
  eslint.config.ts
  justfile
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier, eslint

Sync build with other projects.
  .github/workflows/merge-group.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json5
  README.md
  biome.json
  biome.jsonc
  eslint.config.ts
  justfile
  package-lock.json
  package.json
  src/achievements/AchievementManager.ts
  src/achievements/AchievementStorage.ts
  src/achievements/AchievementUI.ts
  src/game-state.test.ts
  src/hex-zero.ts
  src/state/GameState.ts
  src/state/SeptominoGenerator.ts
  tsconfig.json
  vite.config.ts
Due: prettier, eslint

Sync with other builds.
  .github/dependabot.yml
  .mise/config.toml
  .pre-commit-config.yaml
  biome.jsonc
  eslint.config.ts
  mise.toml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier, eslint

Fix asset paths for GitHub Pages deployment.
  index.html
  src/hex-zero.ts
  vite.config.ts
Due: eslint

Ignore updates to ataylorme/eslint-annotate-action.
  .github/dependabot.yml
Due: prettier

Fix `all-checks` GHA job to fail when dependencies fail.
  .github/workflows/merge-group.yml
Due: prettier

Upgrade biome schema from 2.1.2 to 2.2.5 to match CLI version.
  biome.jsonc
  package-lock.json
Due: none

Format code to satisfy prettier/biome rules.
  index.html
Due: none

Add fullscreen mode with mobile support.
  index.html
  src/hex-zero.ts
Due: eslint

Bump mise tool versions (just 1.46.0, node 24.14.0).
  .mise/config.toml
Due: none

Bump devDependencies (biome 2.4.6, eslint 10.0.2, vitest 4.0.18).
  package-lock.json
  package.json
Due: none

Add android/ and ios/ to .gitignore.
  .gitignore
  eslint.config.ts
Due: eslint

Read Vite allowedHosts from VITE_ALLOWED_HOSTS env var.
  vite.config.ts
Due: eslint

Adapt project structure for React Native compatibility.
  src/PROJECT_STRUCTURE.md
  src/components/README.md
  src/hooks/README.md
  src/screens/README.md
  tsconfig.json
  tsconfig.rn.json
Due: prettier

Add placeholder asset files for React Native app.
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
Due: none

Implement React Context for game state management.
  App.tsx
  src/components/GameStateTest.tsx
  src/contexts/GameStateContext.tsx
  src/hooks/index.ts
  src/hooks/useGame.ts
  src/hooks/useGameActions.ts
  src/hooks/useGameStats.ts
  src/hooks/useHexGrid.ts
  src/hooks/usePiecePlacement.ts
  src/hooks/usePieces.ts
Due: eslint

Add comprehensive tests for React Native utilities and hooks.
  babel.config.cjs
  metro.config.cjs
  package-lock.json
  package.json
  src/canvas-utils.ts
  src/components/GameStateTest.tsx
  src/contexts/GameStateContext.test.tsx
  src/contexts/GameStateContext.tsx
  src/hooks/useGameActions.ts
  src/hooks/useGameStats.ts
  src/hooks/useHexGrid.ts
  src/hooks/usePieces.ts
  src/utils/game-dimensions.test.ts
  src/utils/skia-drawing.test.ts
Due: eslint

Consolidate TypeScript configs and remove duplicate scripts.
  justfile
  package.json
  src/PROJECT_STRUCTURE.md
  tsconfig.json
  tsconfig.rn.json
Due: prettier

Add test component to verify game logic classes work in React Native.
  App.tsx
  src/components/GameLogicTest.tsx
Due: eslint

Install and configure React Native Skia
  App.tsx
  package-lock.json
  package.json
  src/components/SkiaTest.tsx
  tsconfig.json
  tsconfig.rn.json
Due: prettier, eslint

Update bundle identifier to use GitHub domain.
  app.json
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: package(-lock)?\.json
  eslint: any of: \.(js|ts|jsx|tsx)$
