Repository motlin/hex-zero: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Fix React Native version compatibility and update configs.
  babel.config.cjs
  metro.config.cjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier

Initialize React Native project with Expo
  .gitignore
  App.tsx
  app.json
  assets/.gitkeep
  babel.config.js
  eslint.config.ts
  metro.config.js
  package-lock.json
  package.json
  tsconfig.rn.json
Due: prettier, eslint

Add React Native utility modules for hex calculations and Skia drawing.
  src/utils/game-dimensions.ts
  src/utils/hex-calculations.test.ts
  src/utils/hex-calculations.ts
  src/utils/index.ts
  src/utils/skia-drawing.ts
Due: eslint

Implement Skia-based hex coordinate system for React Native.
  __mocks__/react-native-skia.ts
  __mocks__/react-native.ts
  src/components/HexGameBoard.tsx
  src/components/HexRendererDemo.tsx
  src/renderer/README.md
  src/renderer/SkiaHexRenderer.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/state/HexGrid.ts
  vitest.config.ts
Due: prettier, eslint

Install additional React Native dependencies.
  App.tsx
  babel.config.js
  package-lock.json
  package.json
  src/components/DependencyTest.tsx
Due: eslint

Implement pan and zoom functionality with React Native Gesture Handler.
  src/components/GameBoard.tsx
  src/components/HexGameBoardWithGestures.tsx
Due: eslint

Implement smooth piece placement animations with Reanimated.
  __mocks__/react-native-reanimated.ts
  src/components/AnimatedHexCell.tsx
  src/components/HexBurstParticles.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/__tests__/AnimatedHexCell.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/ui/SkiaColorTheme.ts
  src/utils/hex-hit-detection.test.ts
  vitest.config.ts
Due: eslint

Implement direct drop-to-place functionality for drag and drop system.
  DRAG_AND_DROP_IMPLEMENTATION.md
  src/components/DraggablePiece.tsx
  src/components/GameBoard.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceDragOverlay.tsx
  src/screens/GameScreen.tsx
Due: prettier, eslint

Create color theme system for Skia with light/dark theme support.
  src/components/BasicHexGrid.tsx
  src/context/ThemeContext.tsx
  src/hooks/useTheme.ts
  src/renderer/SkiaHexGridRendering.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/screens/HexGridDemo.tsx
  src/ui/SkiaColorTheme.test.ts
  src/ui/SkiaColorTheme.ts
  src/utils/skia-drawing.ts
Due: eslint

Add piece placement feedback system with visual indicators and shake animations.
  src/components/DraggablePiece.tsx
  src/components/GameBoard.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceSelectionPanel.tsx
  src/components/README.md
  src/hooks/usePiecePlacementFeedback.ts
  src/renderer/SkiaHexRenderer.tsx
  src/screens/GameScreen.tsx
Due: prettier, eslint

Implement advanced gesture recognition with multi-finger navigation and haptic feedback.
  package-lock.json
  package.json
  src/components/DraggablePiece.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceSelectionPanel.tsx
  src/hooks/useAdvancedGestures.ts
Due: eslint

Optimize touch responsiveness with gesture priority system and reduced latency.
  src/components/DraggablePiece.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/components/PieceSelectionPanel.tsx
  src/hooks/useAdvancedGestures.ts
  src/utils/optimized-hit-detection.ts
Due: eslint

Implement difficulty selection screen with native UI components.
  App.tsx
  src/screens/DifficultySelectionScreen.tsx
  src/screens/GameDemo.tsx
Due: eslint

Add piece navigation with swipe gestures and auto-advance.
  src/components/PieceSelectionPanel.tsx
  src/components/README.md
Due: prettier, eslint

Implement piece preview rendering with Skia.
  App.tsx
  src/components/DraggablePiece.tsx
  src/components/PieceDragOverlay.tsx
  src/components/PiecePreview.tsx
  src/components/PieceSelectionPanel.tsx
  src/components/__tests__/PiecePreview.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/screens/PiecePreviewDemo.tsx
Due: eslint

Create main GameBoard component with Skia Canvas.
  App.tsx
  src/components/GameBoard.tsx
  src/components/README.md
  src/screens/GameDemo.tsx
  src/screens/GameScreen.tsx
Due: prettier, eslint

Implement settings and help system with native UI.
  App.tsx
  src/components/GameBoard.tsx
  src/components/HexGameBoardWithGestures.tsx
  src/contexts/SettingsContext.tsx
  src/hooks/useTheme.ts
  src/renderer/SkiaHexRenderer.tsx
  src/screens/GameScreen.tsx
  src/screens/HelpScreen.tsx
  src/screens/SettingsScreen.tsx
Due: eslint

Implement basic hex grid rendering with Skia.
  src/components/BasicHexGrid.tsx
  src/components/HexGameBoard.tsx
  src/components/HexRendererDemo.tsx
  src/renderer/SkiaHexGridRendering.test.tsx
  src/renderer/SkiaHexRenderer.tsx
  src/screens/HexGridDemo.tsx
  src/state/HexGrid.ts
Due: eslint

Add enhanced victory screen with confetti animation and improved game progress indicators.
  src/screens/GameScreen.tsx
Due: eslint

Fix formatting consistency and add iOS build files.
  babel.config.cjs
  biome.jsonc
  ios/.gitignore
  ios/.xcode.env
  ios/HexZero.xcodeproj/project.pbxproj
  ios/HexZero.xcodeproj/xcshareddata/xcschemes/HexZero.xcscheme
  ios/HexZero.xcworkspace/contents.xcworkspacedata
  ios/HexZero/AppDelegate.swift
  ios/HexZero/HexZero-Bridging-Header.h
  ios/HexZero/HexZero.entitlements
  ios/HexZero/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/HexZero/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/HexZero/Images.xcassets/Contents.json
  ios/HexZero/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  ios/HexZero/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  ios/HexZero/Images.xcassets/SplashScreenLogo.imageset/image.png
  ios/HexZero/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  ios/HexZero/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  ios/HexZero/Info.plist
  ios/HexZero/PrivacyInfo.xcprivacy
  ios/HexZero/SplashScreen.storyboard
  ios/HexZero/Supporting/Expo.plist
  ios/Podfile
  ios/Podfile.lock
  ios/Podfile.properties.json
  metro.config.cjs
  package-lock.json
  package.json
Due: prettier

Remove duplicate calculateOptimalHexSize in favor of calculateHexSize from game-dimensions.
  src/utils/hex-calculations.test.ts
  src/utils/hex-calculations.ts
Due: eslint

Add Capacitor dependencies for mobile app development.
  capacitor.config.ts
  justfile
  package-lock.json
  package.json
Due: eslint

Implement platform-specific performance optimizations for mobile canvas rendering.
  docs/PERFORMANCE_OPTIMIZATIONS.md
  src/canvas/CanvasManager.ts
  src/haptic-feedback.ts
  src/hex-zero.ts
  src/performance/MobilePerformanceOptimizer.ts
  src/performance/OptimizedHexRenderer.ts
  src/performance/PerformanceMonitor.ts
  src/performance/idle-callback-polyfill.ts
  src/status-bar-handler.ts
Due: prettier, eslint

Configure Android-specific settings for game app.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Due: none

Enhance mobile UI with navigation, visual feedback, and screen density scaling.
  index.html
  src/hex-zero.ts
  src/mobile-ui-enhancements.css
  src/mobile-ui-enhancements.ts
Due: eslint

Optimize touch controls with gesture detection and haptic feedback.
  src/hex-zero.ts
  src/mobile-fixes.css
  src/mobile-utils.ts
  src/touch-optimizer.ts
Due: eslint

Configure iOS-specific settings for game app.
  ios/App/App/Info.plist
Due: none

Fix mobile compatibility issues for iOS and Android.
  index.html
  src/canvas/CanvasManager.ts
  src/hex-zero.ts
  src/mobile-fixes.css
  src/mobile-utils.ts
Due: eslint

Implement safe area handling for iOS and Android.
  android/app/src/main/res/values-v21/styles.xml
  capacitor.config.ts
  src/hex-zero.ts
  src/mobile-fixes.css
  src/status-bar-handler.ts
Due: eslint

Implement platform status bar handling with dark theme and safe area adjustments.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  ios/App/Podfile
  package-lock.json
  package.json
  src/mobile-fixes.css
  src/status-bar-handler.ts
Due: eslint

Add mobile sharing capabilities for game victories.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  index.html
  ios/App/Podfile
  package-lock.json
  package.json
  src/hex-zero.css
  src/hex-zero.ts
  src/services/sharing.ts
Due: eslint

Add haptic feedback support for mobile interactions.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  ios/App/Podfile
  package-lock.json
  package.json
  src/haptic-feedback.ts
  src/hex-zero.ts
Due: eslint

Add custom app icons for iOS and Android with icon generation script.
  android/app/src/main/res/drawable-hdpi/ic_notification.png
  android/app/src/main/res/drawable-mdpi/ic_notification.png
  android/app/src/main/res/drawable-xhdpi/ic_notification.png
  android/app/src/main/res/drawable-xxhdpi/ic_notification.png
  android/app/src/main/res/drawable-xxxhdpi/ic_notification.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-1024@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-20@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-20@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-29@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-29@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-40@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-40@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-60@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-60@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-76@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-76@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/icon-83.5@2x.png
  scripts/generate-app-icons.js
Due: prettier, eslint

Add privacy and security configurations for both platforms.
  PRIVACY_POLICY.md
  SECURITY.md
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/main/res/xml/network_security_config.xml
  ios/App/App/Info.plist
  privacy-policy.html
Due: prettier

Add iOS workspace configuration file.
  ios/App/App.xcworkspace/contents.xcworkspacedata
Due: none

Document iOS development certificate and provisioning profile setup.
  docs/IOS_DEVELOPMENT_SETUP.md
  ios/signing-config.md
  scripts/setup-ios-certificates.js
Due: prettier, eslint

Implement cross-platform app versioning system.
  android/app/build.gradle
  docs/VERSIONING.md
  package.json
  scripts/update-version.js
  version.json
Due: prettier, eslint

Add launch screens for iOS and Android with generation script.
  android/app/src/main/res/drawable-land-hdpi/splash.png
  android/app/src/main/res/drawable-land-mdpi/splash.png
  android/app/src/main/res/drawable-land-xhdpi/splash.png
  android/app/src/main/res/drawable-land-xxhdpi/splash.png
  android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  android/app/src/main/res/drawable-port-hdpi/splash.png
  android/app/src/main/res/drawable-port-mdpi/splash.png
  android/app/src/main/res/drawable-port-xhdpi/splash.png
  android/app/src/main/res/drawable-port-xxhdpi/splash.png
  android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/drawable/splash.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  package.json
  scripts/generate-launch-screens.js
Due: eslint

Configure app metadata and permissions for both iOS and Android.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/file_paths.xml
  capacitor.config.ts
  ios/App/App/Info.plist
Due: eslint

Path conditions:
  prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: package(-lock)?\.json
  eslint: any of: \.(js|ts|jsx|tsx)$
