Repository motlin/hex-zero: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
          - id: check-json
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [json, yaml, markdown]
            exclude: "package(-lock)?\\.json"
    - repo: local
      hooks:
          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|ts|jsx|tsx)$
            types: [file]

Implement accessibility features for mobile app.
  index.html
  scripts/test-accessibility.js
  src/accessibility-manager.ts
  src/accessibility.css
  src/hex-zero.ts
Due: eslint

Implement platform-specific gesture handling for iOS and Android.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  index.html
  ios/App/Podfile
  package-lock.json
  package.json
  scripts/test-platform-gestures.js
  src/hex-zero.ts
  src/platform-gesture-handler.ts
  src/platform-gestures.css
Due: eslint

Implement device variation optimizations for multiple screen sizes and performance tiers.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  index.html
  ios/App/Podfile
  package-lock.json
  package.json
  scripts/test-device-variations.js
  src/canvas/CanvasManager.ts
  src/device-variation-optimizer.ts
  src/device-variations.css
  src/hex-zero.ts
Due: eslint

Implement cross-platform testing workflow with automated build scripts.
  docs/CROSS_PLATFORM_TESTING.md
  package.json
  scripts/build-android.js
  scripts/build-ios.js
  scripts/test-all-platforms.js
  testing/PLATFORM_TEST_CHECKLIST.md
  testing/device-test-report-template.md
Due: prettier, eslint

Fix iOS screenshot generation with correct Xcode scheme and simulator handling.
  capacitor.config.ts
  scripts/generate-screenshots.js
Due: eslint

Prepare Google Play Store submission materials and scripts.
  package.json
  play-store/INTERNAL_TESTING_GUIDE.md
  play-store/PLAY_STORE_CHECKLIST.md
  play-store/metadata/category.txt
  play-store/metadata/content-rating.txt
  play-store/metadata/full-description.txt
  play-store/metadata/keywords.txt
  play-store/metadata/short-description.txt
  play-store/metadata/title.txt
  scripts/create-play-store-metadata.js
  scripts/generate-android-screenshots.js
  scripts/generate-feature-graphic.js
Due: prettier, eslint

Configure Android development environment and signing setup.
  .gitignore
  android/app/build.gradle
  android/gradle.properties
  android/signing-config.md
  docs/ANDROID_DEVELOPMENT_SETUP.md
  scripts/generate-android-keystore.js
Due: prettier, eslint

Implement local notification support for iOS and Android.
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  docs/NOTIFICATION_SETUP.md
  index.html
  ios/App/Podfile
  package-lock.json
  package.json
  scripts/test-notifications.sh
  src/achievements/AchievementDefinitions.ts
  src/achievements/AchievementManager.ts
  src/hex-zero.ts
  src/notifications.css
  src/notifications/NotificationManager.ts
  src/notifications/NotificationSettings.ts
Due: prettier, eslint

Prepare App Store submission materials and documentation.
  app-store/APP_STORE_COPY.md
  app-store/README.md
  app-store/TESTFLIGHT_SETUP.md
  app-store/screenshots/SCREENSHOT_CHECKLIST.md
  docs/APP_STORE_SUBMISSION.md
  package.json
  scripts/generate-screenshots.js
Due: prettier, eslint

Comment out SiriShortcuts references to fix iOS build error.
  ios/App/App/AppDelegate.swift
Due: none

Implement voice assistant integration for iOS and Android.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/hexzero/game/HexZeroWidgetProvider.java
  android/app/src/main/java/com/hexzero/game/MainActivity.java
  android/app/src/main/java/com/hexzero/game/plugins/WidgetPlugin.java
  android/app/src/main/res/drawable/ic_hexagon.xml
  android/app/src/main/res/drawable/widget_background.xml
  android/app/src/main/res/drawable/widget_button_background.xml
  android/app/src/main/res/drawable/widget_preview.xml
  android/app/src/main/res/layout/hex_zero_widget.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/hex_zero_widget_info.xml
  android/app/src/main/res/xml/shortcuts.xml
  capacitor.config.ts
  docs/VOICE_ASSISTANT_SETUP.md
  docs/WIDGET_SETUP.md
  ios/App/App/AppDelegate.swift
  ios/App/App/Info.plist
  ios/App/App/Plugins/WidgetPlugin.swift
  ios/App/App/SiriShortcuts.swift
  ios/App/App/VoiceAssistantPlugin.m
  ios/App/App/VoiceAssistantPlugin.swift
  ios/HexZeroWidget/HexZeroWidget.swift
  ios/HexZeroWidget/Info.plist
  scripts/test-voice-assistant.sh
  scripts/test-widgets.sh
  src/achievements/AchievementManager.ts
  src/achievements/AchievementStorage.ts
  src/hex-zero.ts
  src/plugins/voice-assistant-plugin.ts
  src/plugins/widget-plugin.ts
  src/voice/VoiceAssistantManager.ts
  src/widget/WidgetManager.ts
Due: prettier, eslint

Fix iOS board zoom and sizing display issues.
  .pre-commit-config.yaml
  scripts/generate-android-screenshots.js
  scripts/generate-screenshots.js
  scripts/update-version.js
  src/canvas-utils.test.ts
  src/canvas-utils.ts
  src/canvas/CanvasManager.ts
  src/hex-zero.ts
Due: prettier, eslint

Upgrade pinned just version to 1.52.0 in mise config to match the template.
  .mise/config.toml
Due: none

Fix yamllint CI setup
  .github/workflows/merge-group.yml
  .mise/config.toml
  .pre-commit-config.yaml
Due: prettier

Make CI Playwright install conditional
  justfile
Due: none

Fix mobile piece dragging
  src/hex-zero.ts
Due: eslint

Preserve selected difficulty label
  index.html
  src/game-state.test.ts
  src/game-state.ts
  src/hex-zero.ts
  src/state/GameState.ts
Due: eslint

Add .gitattributes from the project-template
  .gitattributes
Due: none

Make .gitattributes conditional on tracked bat/cmd and .idea files.
  .gitattributes
Due: none

Sync foundational and lint config files from templates.
  .yamllint.yaml
Due: prettier

Reindent existing YAML to two-space for yamllint.
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .pre-commit-config.yaml
  pnpm-workspace.yaml
Due: prettier

Apply vp check fixes.
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  pnpm-workspace.yaml
Due: prettier

Fix violations of zizmor rule: excessive-permissions.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: unpinned-uses.
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: artipacked.
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .github/workflows/push.yml
Due: prettier

Sync foundational and lint config files from templates.
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  pnpm-workspace.yaml
  src/hex-zero.css
  vite.config.ts
Due: prettier, eslint

Fix violations of zizmor rule: excessive-permissions.
  .github/workflows/merge-group.yml
  .github/workflows/push.yml
Due: prettier

Fix remaining zizmor permission and credential persistence findings.
  .github/workflows/pull-request.yml
Due: prettier

Remove the Factorio project's AdSense client identifier from Hex Zero.
  index.html
Due: none

Fix deploy workflow to call existing just build recipe.
  .github/workflows/deploy.yml
Due: prettier
